@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Noto+Sans&Merriweather+Sans:wght@300&family=PT+Sans&family=Nunito:wght@300&family=Nunito+Sans:wght@300&family=Lora&family=Rubik:wght@300&family=Barlow+Condensed&family=Arvo&family=Lato:wght@300&family=Source+Sans+Pro&family=Open+Sans&display=swap');

/*
Oswald
Nunito
Nunito Sans
Lora
Rubik
Barlow Condensed
Arvo
Lato
Source Sans Pro
Noto Sans
Merriweather Sans
PT Sans
Open Sans
*/

@keyframes shareIn {
  100% {
    height: 500%;
  }
}

@keyframes iconsIn {
  100% {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html {
  font-size: 100%;
}

#overlord {
  /* width: 100vw; */
  height: 92vh;
  font-family: 'Rubik', sans-serif;
}





/***********************************/
/*************** Nav ***************/
/***********************************/





#nav-container {
  display: flex;
  z-index: 2;
}

#nav-mobile-container {
  background: url("images/logo_background.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 8vh;
  width: 100%;
  color: white;
  background-color: black;
  z-index: 2;
}

#mobile-banner {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#mobile-menu {
  width: 55px;
  height: 50px;
  margin: 0 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

#mobile-menu i {
  font-size: 28px;
}

/* #mobile-menu:hover {
  background-color: white;
  color: black;
  transition: 0.4s;
} */

#times {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 11px 0 0 0;
}

#bars {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 0 0 0;
}

#mobile-main-logo {
  /* outline: 1px solid white; */
  width: 100%;
  height: 100%;
  margin: auto;
}

#mobile-main-logo img {
  width: auto;
  /* height: auto; */
}

#mobile-spacer {
  width: 55px;
  height: 50px;
  margin: 0 10px 0 0;
}

#mobile-spacer i {
  display: none;
}





/*****************************/
/********** Sidebar **********/
/*****************************/





#mobile-banner-menu {
  display: none;
  position: fixed;
  top: 8vh;
  height: 500px;
  width: 100%;
  z-index: 5;
  transition: 0.4s;
}

#sidebar {
  background-color: black;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#sidebar a, #sidebar div {
  color: white;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  border-top: 1px solid gray;
  border-bottom: 1px solid black;
}

#sidebar a:hover, #sidebar div:hover {
  color: black;
  background-color: white;
  transition: 0.3s;
  border-bottom: 1px solid black;
}

.menu-item {
  
}

.menu-item i {
  width: 40px;
  font-size: 24px;
}

.menu-item span {
  width: 100px;
  font-size: 16px;
}





/************************************/
/*************** Body ***************/
/************************************/





#body-container {
  padding: 10vh 0 0 0;
}

.infinite-scroll-component__outerdiv {

}

.infinite-scroll-component {
  display: flex;
  flex-wrap: wrap;
}

.imgbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 250px;
  margin: 0 25px 25px;
  opacity: 0.5;
  transition: 0.4s;
  flex: 1;
}

.imgbox:hover {
  opacity: 1;
  transition: 0.4s;
}

img {
  height: 100%;
  width: auto;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  top: 0vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  z-index: 3;
  height: 70vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.modal-header {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  color: black;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 135px;
  min-height: 35px;
  top: 10px;
  z-index: 5;
}

.modal-share-closed {
  position: relative;
  border-right: 1px solid black;
  height: 100%;
  width: 70%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 6;
}

.modal-share-open {
  position: relative;
  background-color: black;
  color: white;
  border-right: 1px solid black;
  height: 100%;
  width: 70%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 6;
}

.share-menu {
  animation: .3s ease-out 0s 1 shareIn forwards;
  z-index: 4;
  position: absolute;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  top: 35px;
  width: 100%;
  height: 0%;
  background-color: white;
}

.share-menu i {
  animation: .2s ease-out .4s 1 iconsIn forwards;
  opacity: 0;
  font-size: 30px;
  color: black;
}

.modal-close {
  height: 100%;
  width: 30%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal img {
  outline: 2px solid black;
  height: 100%;
  width: auto;
  position: relative;
  bottom: 25px;
  /* height: auto;
  width: 100%; */
  z-index: 4;

}

.nav-modal {
  z-index: 3;
  height: 400px;
  width: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 26px;
  padding: 5px 0 0 0;
}





@media screen and (min-width: 750px) {




  
  /***********************************/
  /*************** Nav ***************/
  /***********************************/





  #nav-mobile-container {
    display: none;
  }

  #nav-container {
    background: url("images/logo_background.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    color: white;
    background-color: black;
    letter-spacing: .6px;
  }

  #banner {
    font-size: 13px;
    height: 100%;
    width: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #banner-left,
  #banner-right {
    display: flex;
    width: 40%;
    height: 100%;
  }
  
  .nav-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    height: 100%;
    transition: 0.5s;
  }

  .nav-item:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
  }
  
  .nav-item i {
    font-size: 22px;
  }

  #main-logo {
    width: 170px;
    height: 100%;
  }

  #main-logo img {
    /* height: auto; */
    /* width: 100%; */
    width: auto;
  }





  /************************************/
  /*************** Body ***************/
  /************************************/





  #body-container {
    padding: 2vh 0 0 0;
  }
  
  .imgbox {
    width: 175px;
    height: 350px;
    margin: 0 30px 25px;
  }

}